.grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 1em;
	margin-bottom: 1em;
}

.griditem {
	width: 100%;
	text-align: center;
	margin-bottom: 1em;
}

.grid .halfgriditem {
	margin-bottom: 0;
}

.halfgrid .halfgriditem {
	margin-bottom: 0;
}

.grid .griditem {
	margin-bottom: 0;
}

.halfgrid .griditem {
	margin-bottom: 0;
}

.halfgrid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 1em;
	margin-bottom: 1em;
}

.halfgriditem {
	width: 100%;
	text-align: left;
	padding: 1em;
	margin-bottom: 1em;
}

@media (max-width: 992px) {
	.grid {
		grid-template-columns: auto;
	}

	.halfgrid {
		grid-template-columns: auto;
	}
}
