/* width */
::-webkit-scrollbar {
	width: 0.5em;
}

/* Track */
::-webkit-scrollbar-track {
	background: #0f0f0f;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #303030;
	max-height: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555;
}
