.searchResult {
	display: flex;
	gap: 1em;
}

.searchResult .titledate {
	display: flex;
	flex-flow: column;
	align-items: start;
}

.searchResultImage {
	width: 60%;
	height: auto;
}

@media screen and (max-width: 900px) {
	#main section#search {
		padding-left: 0;
		padding-right: 0;
	}
}
